.active {
  background-color: green;
  border: 3px solid red;
}

.no-active {
  background-color: red;
}

.border {
  border-color: white;
}
.no-border {
  border-color: yellow;
}

.apple {
  background-color: red;
  border-color: green;
}
