<!-- <h1>{{ title }}</h1>
<h1>{{ 1 + 1 }}</h1>

<button>Normal button</button>
<button disabled="{{ isDiasbled }}">diasbaled button</button>
<button [disabled]="isDiasbled">diasbaled button using propert binding</button>


---Class Binding---

<button
  [class.active]="isActive"
  [class.no-active]="!isActive"
  [class.border]="isActive"
  [class.no-border]="!isActive"
>
  Click me
</button>


---style binding---
<button
  [style.background]="isActive ? 'red' : 'green'"
  [style.border]="isActive ? '3px solid yellow' : ''"
>
  Click
</button>

<button [class.apple]="fruitName === 'apple'">Fruit Ninja</button>

<button [class.active]="isActive">Class Binding</button>

<app-navbar></app-navbar>
<app-header></app-header> -->

<!-- ---event binding--- -->

<button (click)="buttonClick()">Click me</button>
<button (mouseover)="buttonClick()">hover me</button>

<!-- <input type="text" (keyup)="keyEnter($event)" />

<input type="text" (keyup.enter)="keyupFiltering()" /> -->

<input type="text" (keyup.enter)="keyupFiltering(user)" #user id="userInput" />

<!-- <input
  type="text"
  [value]="userName"
  #username
  (keyup.enter)="updateUserName(username)"
/> -->

<input type="text" [(ngModel)]="userName" />

<h3>{{ userName }}</h3>

<!-- angular directives -->

<!-- old Methods -->
<h2 *ngIf="isLoggedIn; else message">{{ userName }}</h2>

<h4 *ngIf="!isLoggedIn">User is not logged in</h4>

<ng-template #message>
  <h4>User is not logged in using ng-template</h4>
</ng-template>

<!-- new methods -->
@if(isLoggedIn){
<h2>{{ userName }}</h2>
} @else {
<h2>User is not logged in</h2>
}

<!-- if directives with number values -->

<button (click)="countLoginAttempt()" *ngIf="loginCounter < 3">Log In</button>

<h4 *ngIf="loginCounter > 3">Exceeded 3 login Attempts, Try again later</h4>

<button (click)="countLoginAttempt()">Login Syntax</button>

@if(loginCounter < 3){
<h4>login Attempts, Try again later</h4>
} @if(loginCounter > 3){
<h4>Exceeded 3 login Attempts, Try again later</h4>
}

<!-- if directives with string values -->

<h4 *ngIf="userRole == 'admin'; else memberMessage">Welcome Admin</h4>

<ng-template #memberMessage>
  <h4>Welcome Member</h4>
</ng-template>

@if(userRole == 'admin'){
<h4>Welcome Admin</h4>
} @else {
<h4>Welcome Member</h4>
}

<!-- ng template -->

<h2 *ngIf="isLoggedIn; else message">{{ userName }}</h2>

<ng-template #message>
  <h4>User is not logged in using ng-template</h4>
</ng-template>

<ng-template #callAction>
  <button>Join Now</button>
</ng-template>

<div [ngTemplateOutlet]="callAction">
  <h5>Side bar</h5>
</div>
<div [ngTemplateOutlet]="callAction">
  <h5>Nav bar</h5>
</div>
<div>
  <h5>Footer</h5>
</div>

<!-- ngFor directive -->

<h3>{{ users }}</h3>

<h3 *ngFor="let user of users">{{ user }}</h3>

@for(user of users; track user){
<h3>{{ user }} - using for syntax block</h3>
}

<ul>
  <li *ngFor="let user of users">{{ user }}</li>
</ul>

<ul>
  @for( user of users; track user){
  <li>{{ user }}</li>
  }
</ul>

<!-- arrays of objects-->

<ul>
  <li *ngFor="let user of userObj; let i = index">
    {{ i }} - {{ user.name }} - {{ user.email }}
    <button (click)="onDelete(i)">Delete</button>
  </li>
</ul>

<ul>
  @for(user of userObj; track user){
  <li>{{ user.name }} - {{ user.email }}</li>
  }
</ul>

<!-- change detections -->
<button (click)="addNewUser()">Add new user</button>
